{% extends "feed/base.html" %}

{% block content %}
    <h1>About Us</h1>
    <p>At JOBIT, we understand that many people are seeking work that can be flexible and fit into their busy lives. As students ourselves, we found that traditional part-time jobs often required a long-term commitment, making it difficult to balance work with our studies and other responsibilities. That's why we created JOBIT, a site where students and anyone else seeking casual, non-permanent work can easily find job posts and get in touch with potential employers.</p>

    <p>Our mission is to make it easy for anyone to find work that fits their schedule and lifestyle, without having to make a long-term commitment. Whether you're a student seeking work in your free time, a stay-at-home parent looking for additional income, or anyone else who wants to work without the constraints of a traditional job, JOBIT is here to help.</p>

    <p>We're proud to be the creators of JOBIT, and we're committed to providing a platform that connects job seekers with the opportunities they need to succeed. Thank you for choosing JOBIT, and we look forward to helping you find your next temporary job!</p>

    <h2>Meet the Team</h2>
    <p>Yuli Suliman, Saar Orus and Adi Rozenberg are the founders of JOBIT. <br> We are third-year computer science students at Tel Aviv-Yafo Academic College. As students ourselves, we experienced firsthand the challenges of finding work that could fit into our busy schedules. We created JOBIT to provide a solution for students and anyone else seeking flexible, non-permanent work. Our passion for helping others find work that fits their lifestyle and our commitment to providing a top-quality platform have made JOBIT a success.</p>

{% endblock content %}
