{% extends "feed/base.html" %}
{% block title %}Comment on Post{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Add Comment</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}